<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Character encoding / Encodage des caractères -->
  <meta charset="UTF-8">
  
  <!-- Responsive design / Conception responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Page description for SEO / Description de la page pour le SEO -->
  <meta name="description"
    content="CommuOM est le forum dédié aux supporters de l'Olympique de Marseille. Rejoignez la communauté pour débattre des matchs, du mercato et de l'actualité de l'OM !">
  
  <!-- Page title / Titre de la page -->
  <title>CommuOM – Forum des fans de l’Olympique de Marseille</title>
  
  <!-- Link to CSS stylesheet / Lien vers la feuille de style CSS -->
  <link rel="stylesheet" href="./assets/css/styles.css">
  
  <!-- Favicon / Icône du site -->
  <link rel="icon" type="image/x-icon" href="./assets/images/icone.ico">
</head>

<body>
